.navbar-outer{
    position: absolute;
    z-index: -99;
    margin: 0;
    padding: 0;
    width: fit-content;
    transform: translateX(-100%);
    transition: all 600ms ease-in-out !important;
    height: calc(100% - 65px);
}

.sidebar{
    position: relative;
    display: flex;
    padding: 0 .4rem;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 240px;
    height: 100%;
    background-color: #1772cf;
}

.nav-item{
    display: flex;
    justify-content: center;
    margin: .5rem .5rem !important;
    width: 100% !important;
}

.nav-button{
    transform: scale(1.1);
    color: white !important;
    padding: .5rem;
    border-radius: 50%;
    justify-content: center !important;
    width: 200px !important;
}

.custom-tooltip{
    font-size: xx-large !important;
}